 $main-content-background : hsl(217, 19%, 38%);
 $content-background : hsl(217, 19%, 24%);
 $Dark-grey : hsl(218, 23%, 16%);
 $font-neon-color :hsl(150, 100%, 66%);
 $my-Font-Size : 28px;
 $paragragh-font-color :  hsl(193, 38%, 86%);
 
.content{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: $content-background;
    .main{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: $main-content-background;
        // width: 30rem;
        // min-height: 15rem;
        border-radius: 20px;

        h6{
            color: $font-neon-color;
            text-transform: uppercase;
            font-family: 'Barlow Condensed', sans-serif;
            letter-spacing: 2px;
        }
        p{
            font-size: $my-Font-Size;
            color: $paragragh-font-color;
            font-weight: 800;
            font-family: 'Manrope', sans-serif;
        }
        .button {
            background-color: $font-neon-color; /* Green */
            border: none;
            color: white;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 50%;
            position: relative;
            bottom: -51px;
            transition: all 0.2s ease-in-out;
            &:hover{
                
                    color: rgba(255, 255, 255, 1);
                    box-shadow: 0 5px 15px $font-neon-color;
                 
            }
          }
    }
}


// @media screen and (min-width:300px) and (max-width: 600px) {
//     .content  .main{
       
//            margin: 10px;
        
//     }
    
// }