<div class="container-fluid content">
    <div class="col-md-4 col-12 main text-center p-3">
        <h6 class="mt-3">Advice # {{advice?.slip?.id}}</h6>
        <p class="mt-4">"{{advice?.slip?.advice}}"</p>
        <div class="col-12">
            <img style="color: #fff; margin-top: 10px;max-width: 250px;" src="assets/images/pattern-divider-desktop.svg" alt="">

        </div>
        <button class="button " (click)="getAdvice()"><img src="assets/images/icon-dice.svg" alt=""></button>
    </div>
</div>
